.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Sidebar Styles */
.sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: #1A202C;
  transition: right 0.3s ease;
  z-index: 9999;
  color: white;
}

.sidebar.open {
  right: 0;
}

.sidebar .sidebar-content {
  padding: 20px;
}

.sidebar-icon {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4CAF50;
  color: white;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  z-index: 10000;
}

.profile-page {
  padding: 20px;
}

.hero {
  background: url('https://images.unsplash.com/photo-1499336315816-097655dcfbda?ixlib=rb-1.2.1&auto=format&fit=crop&w=2710&q=80') no-repeat center center;
  background-size: cover;
  height: 500px;
  color: white;
  text-align: center;
  padding-top: 150px;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.profile-content {
  text-align: center;
  padding: 40px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
